@use '../../variables/_size' as size
@use '../../variables/_border' as border
@use '../../variables/_transition' as transition

$alert-transition:          background-color transition.$transition transition.$easing, color transition.$transition transition.$easing
$alert-gap:                 size.$regular
$alert-margin:              size.$zero
$alert-nesting-margin-top:  size.$regular
$alert-border-radius:       border.$radius
