$zero:          0 !default

$base:          4px !default

$extra-small:   4px !default
$small:         8px !default
$regular:       12px !default
$large:         20px !default
$extra-large:   32px !default
