$size-zero:          0 !default

$size-base:          4px !default

$size-extra-small:   4px !default
$size-small:         8px !default
$size-regular:       12px !default
$size-large:         20px !default
$size-extra-large:   32px !default

$size-variants:      ('-extra-small': $size-extra-small, '-small': $size-small, '': $size-regular, 'large': $size-large, 'extra-large': $size-extra-large)
