// text
$typograph-family-sans-serif:                       BlinkMacSystemFont, -apple-system, 'Open Sans', sans-serif !default
$typograph-family-monospace:                        monospace !default
$typograph-render-mode:                             optimizeLegibility !default

// font-weight
$typograph-weight-light:                            300 !default
$typograph-weight-regular:                          400 !default
$typograph-weight-semibold:                         600 !default
$typograph-weight-bold:                             700 !default

// font-sizes
$typograph-font-size-one:                           12px !default
$typograph-font-size-two:                           14px !default
$typograph-font-size-three:                         16px !default
$typograph-font-size-four:                          20px !default
$typograph-font-size-five:                          24px !default
$typograph-font-size-six:                           28px !default
$typograph-font-size-seven:                         32px !default
$typograph-font-size-eight:                         32px !default

// body 1 regular
$typograph-body-one-regular-size:                   $typograph-font-size-three !default
$typograph-body-one-regular-weight:                 $typograph-weight-regular !default
$typograph-body-one-regular-line-height:            24px !default
$typograph-body-one-regular-letter-spacing:         0

// body 1 bold
$typograph-body-one-bold-size:                      $typograph-font-size-three !default
$typograph-body-one-bold-weight:                    $typograph-weight-bold !default
$typograph-body-one-bold-line-height:               24px !default
$typograph-body-one-bold-letter-spacing:            0

// body 2 regular
$typograph-body-two-regular-size:                   $typograph-font-size-two !default
$typograph-body-two-regular-weight:                 $typograph-weight-regular !default
$typograph-body-two-regular-line-height:            20px !default
$typograph-body-two-regular-letter-spacing:         0 !default

// body 2 bold
$typograph-body-two-bold-size:                      $typograph-font-size-two !default
$typograph-body-two-bold-weight:                    $typograph-weight-bold !default
$typograph-body-two-bold-line-height:               20px !default
$typograph-body-two-bold-letter-spacing:            0 !default

// button
$typograph-button-size:                             $typograph-font-size-three !default
$typograph-button-weight:                           $typograph-weight-bold !default
$typograph-button-line-height:                      20px !default
$typograph-button-letter-spacing:                   0

// caption
$typograph-caption-size:                            $typograph-font-size-one !default
$typograph-caption-weight:                          $typograph-weight-regular !default
$typograph-caption-line-height:                     18px !default
$typograph-caption-letter-spacing:                  .4px !default

// overline
$typograph-overline-size:                           $typograph-font-size-one !default
$typograph-overline-weight:                         $typograph-weight-regular !default
$typograph-overline-line-height:                    18px !default
$typograph-overline-letter-spacing:                 2px !default

// h1 hero desktop
$typograph-heading-one-hero-desktop-size:           48px !default
$typograph-heading-one-hero-desktop-line-height:    56px !default
$typograph-heading-one-hero-desktop-letter-spacing: .25px !default

// h1 hero mobile
$typograph-heading-one-hero-mobile-size:            36px !default
$typograph-heading-one-hero-mobile-line-height:     48px !default
$typograph-heading-one-hero-mobile-letter-spacing:  .25px !default

// h1 desktop
$typograph-heading-one-desktop-size:                32px !default
$typograph-heading-one-desktop-line-height:         40px !default
$typograph-heading-one-desktop-letter-spacing:      .25px !default

// h1 mobile
$typograph-heading-one-mobile-size:                 32px !default
$typograph-heading-one-mobile-line-height:          40px !default
$typograph-heading-one-mobile-letter-spacing:       .25px !default

// h2 desktop
$typograph-heading-two-desktop-size:                28px !default
$typograph-heading-two-desktop-line-height:         36px !default
$typograph-heading-two-desktop-letter-spacing:      .15px !default

// h2 mobile
$typograph-heading-two-mobile-size:                 20px !default
$typograph-heading-two-mobile-line-height:          32px !default
$typograph-heading-two-mobile-letter-spacing:       .25px !default

// h3 desktop
$typograph-heading-three-desktop-size:              24px !default
$typograph-heading-three-desktop-line-height:       36px !default
$typograph-heading-three-desktop-letter-spacing:    0 !default

// h3 mobile
$typograph-heading-three-mobile-size:               18px !default
$typograph-heading-three-mobile-line-height:        24px !default
$typograph-heading-three-mobile-letter-spacing:     .25px !default

// h4
$typograph-heading-four-size:                       24px !default
$typograph-heading-four-line-height:                36px !default
$typograph-heading-four-letter-spacing:             .25px !default

// h5
$typograph-heading-five-size:                       18px !default
$typograph-heading-five-line-height:                24px !default
$typograph-heading-five-letter-spacing:             .5px !default
