// text
$typograph-family-sans-serif:                     BlinkMacSystemFont, -apple-system, 'Open Sans', sans-serif !default
$typograph-family-monospace:                      monospace !default
$typograph-render-mode:                           optimizeLegibility !default

// -------------------------------------------------------------------------------

// weight
$typograph-weight-light:                          300 !default
$typograph-weight-regular:                        400 !default
$typograph-weight-semibold:                       600 !default
$typograph-weight-bold:                           700 !default

// -------------------------------------------------------------------------------

// sizes
$typograph-size-one:                              12px !default
$typograph-size-two:                              14px !default
$typograph-size-three:                            16px !default
$typograph-size-four:                             18px !default
$typograph-size-five:                             20px !default
$typograph-size-six:                              24px !default
$typograph-size-seven:                            28px !default
$typograph-size-eight:                            32px !default
$typograph-size-nine:                             36px !default
$typograph-size-ten:                              48px !default

// -------------------------------------------------------------------------------

// body 1
$typograph-body-one-size:                           $typograph-size-eight
$typograph-body-one-line-height:                    24px !default
$typograph-body-one-letter-spacing:                 0

// body 2
$typograph-body-two-size:                           $typograph-size-two !default
$typograph-body-two-line-height:                    20px !default
$typograph-body-two-letter-spacing:                 0 !default

// caption
$typograph-caption-size:                            $typograph-size-one !default
$typograph-caption-line-height:                     18px !default
$typograph-caption-letter-spacing:                  .4px !default

// overline
$typograph-overline-size:                           $typograph-size-one !default
$typograph-overline-line-height:                    18px !default
$typograph-overline-letter-spacing:                 2px !default

// -------------------------------------------------------------------------------

// h1 hero
$typograph-heading-one-hero-desktop-size:           $typograph-size-ten !default
$typograph-heading-one-hero-desktop-line-height:    56px !default
$typograph-heading-one-hero-desktop-letter-spacing: .25px !default

// h1
$typograph-heading-one-desktop-size:                $typograph-size-eight !default
$typograph-heading-one-desktop-line-height:         40px !default
$typograph-heading-one-desktop-letter-spacing:      .25px !default

// h2
$typograph-heading-two-desktop-size:                $typograph-size-seven !default
$typograph-heading-two-desktop-line-height:         36px !default
$typograph-heading-two-desktop-letter-spacing:      .15px !default

// h3
$typograph-heading-three-desktop-size:              $typograph-size-six !default
$typograph-heading-three-desktop-line-height:       36px !default
$typograph-heading-three-desktop-letter-spacing:    0 !default

// h4
$typograph-heading-four-size:                       $typograph-size-five !default
$typograph-heading-four-line-height:                32px !default
$typograph-heading-four-letter-spacing:             .25px !default

// h5
$typograph-heading-five-size:                       $typograph-size-four !default
$typograph-heading-five-line-height:                24px !default
$typograph-heading-five-letter-spacing:             .5px !default


// -------------------------------------------------------------------------------

// h1 hero mobile
$typograph-heading-one-hero-mobile-size:            $typograph-size-nine !default
$typograph-heading-one-hero-mobile-line-height:     48px !default
$typograph-heading-one-hero-mobile-letter-spacing:  .25px !default

// h1 mobile
$typograph-heading-one-mobile-size:                 $typograph-size-six !default
$typograph-heading-one-mobile-line-height:          36px !default
$typograph-heading-one-mobile-letter-spacing:       .25px !default

// h2 mobile
$typograph-heading-two-mobile-size:                 $typograph-size-five !default
$typograph-heading-two-mobile-line-height:          32px !default
$typograph-heading-two-mobile-letter-spacing:       .25px !default

// h3 mobile
$typograph-heading-three-mobile-size:               $typograph-size-four !default
$typograph-heading-three-mobile-line-height:        24px !default
$typograph-heading-three-mobile-letter-spacing:     .25px !default
